.img {
    width: 100px;
    height: 100px;
 
}
.img-box {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
.img-box .fa-close {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    font-size: 50px;
    color: #aaa;
    background: rgba(0,0,0,.2);
}
.img-box:hover .fa-close {
    display: block;
    
}